<section>
  <div class="centered">
    <div class="section">
      <span><%= api.name %></span>
      <hr><span><%= process.env.HOSTNAME %></span>
      <hr>ENV: <span><%= process.env.NODE_ENV %></span>
      <hr>API VERSION: <%= api.version %>
      <hr><a href="<%= api.docs %>" target="_blank">VIEW DOCUMENTATION</a>
    </div>
  </div>
</section>